<h3>Author</h3>
<span>Oscar Rodríguez Balmón</span>
<p><br>
<span><img id="foto" src="https://lh4.googleusercontent.com/-H8TlPtndfRk/VFDKv3rQ66I/AAAAAAAAAA8/Wo9RHN5swlE/w140-h139-p/face.jpg" 
            alt="Foto" width="100"/>
 </span>
 <br>
 </p>